{% extends 'zaklad.html' %}

{% block content %}

    <div class="container mt-4">
        <h2 class="mb-4">Přidat zakladatele</h2>
        <p class="text-danger mt-4 font-weight-bold">*Pokud nemáte vytvořenou automobiku zakladatele, prvně založte automobilku a až poté zakladatele.</p>

        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="mb-3 bg-light p-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="form-text small">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <button type="button" class="btn btn-secondary ml-1" onclick="window.history.back();">Zpět</button>
            </div>

        </form>
    </div>

{% endblock %}