{% extends 'zaklad.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bg-dark text-white p-2 rounded text-center">Různá auta</h2>
                {% for druh in druhy|slice:":5" %}
                <a href="{% url 'druhy_detail' druh.id %}" class="text-decoration-none">
                    <div class="card mb-3 auto-card">
                        <div class="row g-0">
                            <div class="col-md-3 d-flex align-items-center">
                                <img src="{{ druh.fotografie.url }}" class="img-fluid rounded-start img-auto-index" alt="{{ druh.nazev }}">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">{{ druh.znacka.nazev }} {{ druh.nazev }}</h5>
                                    <p class="card-text"><small class="text-muted">Typ auta: {{ druh.typ }}</small></p>
                                    <p class="card-text">{{ druh.popis|truncatewords:15 }}</p>
                                    <p class="card-text text-white">
                                        <span class="badge bg-danger">Vyrobeno: {{ druh.znacka.zeme }}, {{ druh.rok_zalozeni }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}