<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Automobilky {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'stranka/header.html' %}

    {% include 'stranka/navbar.html' %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'stranka/footer.html' %}
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>